.DS_Store

# netrw
.netrwhist
zsh/.zcompdump*
zsh/*.zwc*
zsh/.zhistory
zsh/.zsh_history
zsh/.zim
zsh/.zsh_sessions
karabiner/assets/*
karabiner/automatic_backups/*
karabiner/Icon*
node-bin/node_modules
node-bin/package-lock.json
.claude
claude/CLAUDE.md
codex/AGENTS.md
