<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BatteryColoredGraphChargingColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCBEVHFUkbnVsbNQJCgsMDQ4PEFdOU1doaXRlXE5TQ29sb3JTcGFjZV8QEk5T
	Q3VzdG9tQ29sb3JTcGFjZVYkY2xhc3NFMC43NQAQA4ACgATSEgwTFFROU0lEEAKAA9IW
	FxgZWiRjbGFzc25hbWVYJGNsYXNzZXNcTlNDb2xvclNwYWNlohobXE5TQ29sb3JTcGFj
	ZVhOU09iamVjdNIWFx0eV05TQ29sb3KiHRtfEA9OU0tleWVkQXJjaGl2ZXLRISJUcm9v
	dIABAAgAEQAaACMALQAyADcAPQBDAEwAVABhAHYAfQCDAIUAhwCJAI4AkwCVAJcAnACn
	ALAAvQDAAM0A1gDbAOMA5gD4APsBAAAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAAAAAA
	AAEC
	</data>
	<key>BatteryColoredGraphDrainingColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCBEVHFUkbnVsbNQJCgsMDQ4PEFdOU1doaXRlXE5TQ29sb3JTcGFjZV8QEk5T
	Q3VzdG9tQ29sb3JTcGFjZVYkY2xhc3NFMC43NQAQA4ACgATSEgwTFFROU0lEEAKAA9IW
	FxgZWiRjbGFzc25hbWVYJGNsYXNzZXNcTlNDb2xvclNwYWNlohobXE5TQ29sb3JTcGFj
	ZVhOU09iamVjdNIWFx0eV05TQ29sb3KiHRtfEA9OU0tleWVkQXJjaGl2ZXLRISJUcm9v
	dIABAAgAEQAaACMALQAyADcAPQBDAEwAVABhAHYAfQCDAIUAhwCJAI4AkwCVAJcAnACn
	ALAAvQDAAM0A1gDbAOMA5gD4APsBAAAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAAAAAA
	AAEC
	</data>
	<key>BatteryColoredGraphUseCustomColors</key>
	<integer>1</integer>
	<key>BatteryCustomizeStates</key>
	<integer>1</integer>
	<key>BatteryDisplayMode</key>
	<string>4,0</string>
	<key>BatteryDisplayModeCharged</key>
	<string></string>
	<key>BatteryDisplayModeCharging</key>
	<string>2,0</string>
	<key>BatteryDisplayModeDraining</key>
	<string>2,0</string>
	<key>BatteryPercentageColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCBEVHFUkbnVsbNQJCgsMDQ4PEFdOU1doaXRlXE5TQ29sb3JTcGFjZV8QEk5T
	Q3VzdG9tQ29sb3JTcGFjZVYkY2xhc3NFMC43NQAQA4ACgATSEgwTFFROU0lEEAKAA9IW
	FxgZWiRjbGFzc25hbWVYJGNsYXNzZXNcTlNDb2xvclNwYWNlohobXE5TQ29sb3JTcGFj
	ZVhOU09iamVjdNIWFx0eV05TQ29sb3KiHRtfEA9OU0tleWVkQXJjaGl2ZXLRISJUcm9v
	dIABAAgAEQAaACMALQAyADcAPQBDAEwAVABhAHYAfQCDAIUAhwCJAI4AkwCVAJcAnACn
	ALAAvQDAAM0A1gDbAOMA5gD4APsBAAAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAAAAAA
	AAEC
	</data>
	<key>BatteryPercentageShadowColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCBEVHFUkbnVsbNQJCgsMDQ4PEFdOU1doaXRlXE5TQ29sb3JTcGFjZV8QEk5T
	Q3VzdG9tQ29sb3JTcGFjZVYkY2xhc3NCMAAQA4ACgATSEgwTFFROU0lEEAKAA9IWFxgZ
	WiRjbGFzc25hbWVYJGNsYXNzZXNcTlNDb2xvclNwYWNlohobXE5TQ29sb3JTcGFjZVhO
	U09iamVjdNIWFx0eV05TQ29sb3KiHRtfEA9OU0tleWVkQXJjaGl2ZXLRISJUcm9vdIAB
	CBEaIy0yNz1DTFRhdn2AgoSGi5CSlJmkrbq9ytPY4OP1+P0AAAAAAAABAQAAAAAAAAAj
	AAAAAAAAAAAAAAAAAAAA/w==
	</data>
	<key>BatteryTimeColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCBEVHFUkbnVsbNQJCgsMDQ4PEFdOU1doaXRlXE5TQ29sb3JTcGFjZV8QEk5T
	Q3VzdG9tQ29sb3JTcGFjZVYkY2xhc3NFMC43NQAQA4ACgATSEgwTFFROU0lEEAKAA9IW
	FxgZWiRjbGFzc25hbWVYJGNsYXNzZXNcTlNDb2xvclNwYWNlohobXE5TQ29sb3JTcGFj
	ZVhOU09iamVjdNIWFx0eV05TQ29sb3KiHRtfEA9OU0tleWVkQXJjaGl2ZXLRISJUcm9v
	dIABAAgAEQAaACMALQAyADcAPQBDAEwAVABhAHYAfQCDAIUAhwCJAI4AkwCVAJcAnACn
	ALAAvQDAAM0A1gDbAOMA5gD4APsBAAAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAAAAAA
	AAEC
	</data>
	<key>BatteryTimeFontSize</key>
	<integer>14</integer>
	<key>BatteryTimeShadowColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCBEVHFUkbnVsbNQJCgsMDQ4PEFdOU1doaXRlXE5TQ29sb3JTcGFjZV8QEk5T
	Q3VzdG9tQ29sb3JTcGFjZVYkY2xhc3NCMAAQA4ACgATSEgwTFFROU0lEEAKAA9IWFxgZ
	WiRjbGFzc25hbWVYJGNsYXNzZXNcTlNDb2xvclNwYWNlohobXE5TQ29sb3JTcGFjZVhO
	U09iamVjdNIWFx0eV05TQ29sb3KiHRtfEA9OU0tleWVkQXJjaGl2ZXLRISJUcm9vdIAB
	CBEaIy0yNz1DTFRhdn2AgoSGi5CSlJmkrbq9ytPY4OP1+P0AAAAAAAABAQAAAAAAAAAj
	AAAAAAAAAAAAAAAAAAAA/w==
	</data>
	<key>ClockDisplayMode</key>
	<array>
		<string>MMM</string>
		<string>' '</string>
		<string>d</string>
		<string>' '</string>
		<string>EE</string>
		<string>' '</string>
		<string>hh</string>
		<string>':'</string>
		<string>mm</string>
		<string>' '</string>
		<string>a</string>
		<string>' '</string>
	</array>
	<key>ClockShadowColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCBEVHFUkbnVsbNQJCgsMDQ4PEFdOU1doaXRlXE5TQ29sb3JTcGFjZV8QEk5T
	Q3VzdG9tQ29sb3JTcGFjZVYkY2xhc3NCMAAQA4ACgATSEgwTFFROU0lEEAKAA9IWFxgZ
	WiRjbGFzc25hbWVYJGNsYXNzZXNcTlNDb2xvclNwYWNlohobXE5TQ29sb3JTcGFjZVhO
	U09iamVjdNIWFx0eV05TQ29sb3KiHRtfEA9OU0tleWVkQXJjaGl2ZXLRISJUcm9vdIAB
	CBEaIy0yNz1DTFRhdn2AgoSGi5CSlJmkrbq9ytPY4OP1+P0AAAAAAAABAQAAAAAAAAAj
	AAAAAAAAAAAAAAAAAAAA/w==
	</data>
	<key>ClockTextColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCBEVHFUkbnVsbNQJCgsMDQ4PEFdOU1doaXRlXE5TQ29sb3JTcGFjZV8QEk5T
	Q3VzdG9tQ29sb3JTcGFjZVYkY2xhc3NFMC43NQAQBIACgATSEgwTFFROU0lEEAWAA9IW
	FxgZWiRjbGFzc25hbWVYJGNsYXNzZXNcTlNDb2xvclNwYWNlohobXE5TQ29sb3JTcGFj
	ZVhOU09iamVjdNIWFx0eV05TQ29sb3KiHRtfEA9OU0tleWVkQXJjaGl2ZXLRISJUcm9v
	dIABAAgAEQAaACMALQAyADcAPQBDAEwAVABhAHYAfQCDAIUAhwCJAI4AkwCVAJcAnACn
	ALAAvQDAAM0A1gDbAOMA5gD4APsBAAAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAAAAAA
	AAEC
	</data>
	<key>CombinedDropdownDisplayMode</key>
	<string>6,1,2,3,4,5</string>
	<key>CombinedMenubarDisplayMode</key>
	<string>7,6</string>
	<key>DisksMenubar</key>
	<array>
		<string>3C9A1D1F-A28F-301A-AD2F-74CC8E7577B4</string>
	</array>
	<key>FanSpeedSets</key>
	<array>
		<dict>
			<key>name</key>
			<string>Medium</string>
			<key>speeds</key>
			<array>
				<dict>
					<key>fan</key>
					<string>F0Ac</string>
					<key>speed</key>
					<integer>4050</integer>
				</dict>
				<dict>
					<key>fan</key>
					<string>F1Ac</string>
					<key>speed</key>
					<integer>3749</integer>
				</dict>
			</array>
			<key>uuid</key>
			<string>B23EDD1B-E5B9-4D13-B226-62BB8AD30D36</string>
		</dict>
		<dict>
			<key>name</key>
			<string>High</string>
			<key>speeds</key>
			<array>
				<dict>
					<key>fan</key>
					<string>F0Ac</string>
					<key>speed</key>
					<integer>5940</integer>
				</dict>
				<dict>
					<key>fan</key>
					<string>F1Ac</string>
					<key>speed</key>
					<integer>5499</integer>
				</dict>
			</array>
			<key>uuid</key>
			<string>9C94156E-D0B4-47A4-A20F-9FB028B8F9B9</string>
		</dict>
	</array>
	<key>MenubarGraphOpacity</key>
	<real>0.0</real>
	<key>SensorsMenubar</key>
	<array>
		<string>TCXC</string>
	</array>
	<key>SkinType</key>
	<integer>0</integer>
	<key>TimerFrequency</key>
	<integer>1</integer>
	<key>_mac_id</key>
	<string>56eb50eb619809ef1ac5cb4dd7285ef4</string>
	<key>migratedExtras4.0</key>
	<true/>
	<key>sendDiagnostics</key>
	<true/>
	<key>skinColor</key>
	<integer>8</integer>
	<key>updateCheckerEnabled</key>
	<true/>
</dict>
</plist>
