<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>21121B42-4851-4E51-98FA-D11C1D588AD9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D4C6194E-5C85-4FBE-85BB-AD4568FE0EB2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1E6B723E-AC84-4033-9087-C6E9DC865AE9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE4812A3-3CC1-4C89-932C-3667B60CD12E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BACCF89D-9BFF-47BF-84A9-AC8C979F6D1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE4812A3-3CC1-4C89-932C-3667B60CD12E</key>
		<array/>
		<key>BACCF89D-9BFF-47BF-84A9-AC8C979F6D1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8E76033-544D-40EC-AB22-72F364EDF296</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4C6194E-5C85-4FBE-85BB-AD4568FE0EB2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B679017-9FBF-457A-849D-52FA777833E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8E76033-544D-40EC-AB22-72F364EDF296</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21121B42-4851-4E51-98FA-D11C1D588AD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Joe Moon</string>
	<key>description</key>
	<string>Do not disturb with timer</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Do not disturb</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>d</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1966080</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>AE4812A3-3CC1-4C89-932C-3667B60CD12E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>dnd</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Do not disturb</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var query = argv[0];
  var hourMatch = query.match(/(\d+)h/);
  if (hourMatch) {
    return hourMatch[1] * 60 * 60;
  }
  var minuteMatch = query.match(/(\d+)m/);
  if (minuteMatch) {
    return minuteMatch[1] * 60;
  }
  var secondMatch = query.match(/(\d+)/);
  if (secondMatch) {
    return secondMatch[1];
  }
  return 0;
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D8E76033-544D-40EC-AB22-72F364EDF296</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BACCF89D-9BFF-47BF-84A9-AC8C979F6D1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>2</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>snooze</string>
						<key>uid</key>
						<string>1E6B723E-AC84-4033-9087-C6E9DC865AE9</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>21121B42-4851-4E51-98FA-D11C1D588AD9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>D4C6194E-5C85-4FBE-85BB-AD4568FE0EB2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>d</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1966080</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>6B679017-9FBF-457A-849D-52FA777833E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>21121B42-4851-4E51-98FA-D11C1D588AD9</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>6B679017-9FBF-457A-849D-52FA777833E5</key>
		<dict>
			<key>xpos</key>
			<integer>655</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>AE4812A3-3CC1-4C89-932C-3667B60CD12E</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>BACCF89D-9BFF-47BF-84A9-AC8C979F6D1A</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>D4C6194E-5C85-4FBE-85BB-AD4568FE0EB2</key>
		<dict>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>D8E76033-544D-40EC-AB22-72F364EDF296</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
